<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1><%= title %></h1>
    <h1> this is the home page</h1>
    <h2>links</h2>
    <a href="/create/user">create user</a>
    <br>
    <a href="/list/users"> users list</a>
    <br>
    <a href="/list/tweets">check tweets</a>
</body>
</html>